<!DOCTYPE html>
<html>
  <head>
    <title>Recieve an SMS with Node.js and Twilio!</title>
    <meta name="Receive SMS with Node.js and Twilio" content="S">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <h3>Waiting for a Text Message!</h3>
    
    <p><a href="http://hyperdev.com">Remix on HyperDev</a> to explore, edit, and run this code.</p>

  </body>
</html>
